# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/
myenv/

# Database
db.sqlite3

# Static folder at project root
/static

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace